ul.navBar
	li(class=( location == 'myAccount' ? 'active' : '')).inicioNavBar Inicio
	li(class=( location == 'info' ? 'active' : '')).infoNavBar Info
	li(class=( location == 'userProfile' ? 'active' : '')).userProfileNavBar Usuario
	//- li.logOutNavBar Cerrar Sesión

