.scripts
	//-link(rel="stylesheet", href="css/styles.css?Ver=#{version}", type="text/css")
	script(src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js")
	script(src="https://www.gstatic.com/firebasejs/7.13.1/firebase-messaging.js")
	script(src="https://www.gstatic.com/firebasejs/7.13.1/firebase-analytics.js")
	
	script(src="js/app.js?Ver=#{version}")
	script(src="js/jquery.min.js")
	script(src="js/axios.min.js")
	script(src="js/script.min.js?Ver=#{version}")