.card.dataRecorder

	a(href="registry.html").card.employee
		.ico.icoEmployee
		p  Soy empleado 
		.icoNext

	a(href="registryFamilyData.html").card.employeesFamily
		.ico.icoEmployeesFamily
		p Soy familiar de un empleado 
		.icoNext.green

	.returnLogin Si ya tienes cuenta, 
		span haz clic aquí