.form.FormSimptomps
	.headCard
		.titleStep Antecedentes de salud
	.card.monitoring
		.fieldset.pregnantHide.hidden
			label  *¿Estás embarazada?
			.forTwo.w75.pregnantType
				+radioButton('Sí', 'pregnantReg', 'si', '10')
				+radioButton('No', 'pregnantReg', 'no', 'no')
			.errorMessage

		.fieldset
			label  *¿Tienes alguna de estas enfermedades?
			.forTwo.arrayDiseases
			.errorMessage

	p.smallText *Campos obligatorios

	.fieldset
		button(type="button").btn.primario.middleForm Continuar
