.card.passwordUpdate

	.fieldset
		+inputField('*Nueva Contraseña:' ,'password', 'Mínimo 6 caracteres', 'updatePassword')
	
	.fieldset
		+inputField('*Confirmar contraseña' ,'password', 'Misma contraseña que el campo anterior', 'confirmUpPass')
	
	.fieldset
		.btn.primario Enviar



.card.thanksUpdatePass.hidden

	.fieldset
		p Hemos actualizado tu contraseña de manera exitosa.
	
	.fieldset
		.btn.primario Regresar al inicio