section.myUserCards
	.container

		.countDataUser
			p.userName
			p.userID

		.countDataEmployemen
			p.employementID

		.countCardsSections
			
			.card.personalData
				p.dataEmail
				p.dataBirthday Fecha de nacimiento: 
					span
				p.dataSex Sexo: 
					span

				p.dataPhone Teléfono:  
					span


			.card.employData.hidden
				p.dataArea Área:
					span
				p.dataEmploye Empresa:
					span


			.card.clinicalProfile
				.ico.icoClinicalProfile
				p Mi perfil clínico
				.icoNext


		.container.contButton
			.btn.secundario.logOutNavBar  Cerrar Sesión