.form.registryFamilyModule
	.headCard
		.titleStep Registro para familiares de empleados
	.card.monitoring
		.fieldset
			+inputField('*ID de Seguimiento de tu familiar:' ,'text', 'Obligatorio', 'idSeguimiento')
		.fieldset
			+inputField('*Correo electrónico de tu familiar:' ,'email', 'Obligatorio', 'emailFamily')
		
		.fieldset
			label  *Parentesco con tu familiar:
			+select('familyRelationship', 'Selecciona uno' , arrayFamilyRelationship)

		.fieldset
			label  * ¿Vives en la misma casa de tu familiar?
			.forTwo.w75.familiarType
				+radioButton('Sí', 'familiarReg', 'Si', '3')
				+radioButton('No', 'familiarReg', 'No', '4')
			.errorMessage


	p.smallText *Campos obligatorios

	.fieldset
		button(type="button").btn.primario.familyAccess Continuar

