.form.FormFirst
	.headCard
		.step 1
		.titleStep Datos personales 
	.card.monitoring
		.fieldset
			+inputField('*Token de registro (proporcionado por el área de RH de la empresa)' ,'token', 'Obligatorio', 'tokenReg')
		.fieldset
			+inputField('*Correo electrónico' ,'email', 'Obligatorio (Corporativo)', 'emailReg')
		.fieldset
			+inputField('*Número de empleado (lo define el responsable de RH de la empresa)' ,'text', 'Obligatorio', 'idEmpleadoReg')
		.fieldset
			+inputField('*Crea una contraseña' ,'password', 'Mínimo 6 caracteres', 'passwordReg')
		.fieldset
			+inputField('*Nombre(s)' ,'text', 'Obligatorio', 'nombreReg')
		.fieldset
			+inputField('*Primer apellido' ,'text', 'Obligatorio', 'apelldoPaternoReg')
		.fieldset
			+inputField('*Segundo apellido' ,'text', 'Obligatorio', 'apellidoMaternoReg')
		.fieldset
			+inputField('*Ingresa tu Código Postal' ,'text', 'Obligatorio', 'codigoPostalReg')

		.fieldset
			label *Fecha de nacimiento:
			+inputDate('fechaNacimientoReg', 'DD-MM-AAAA', '1940-01-01')

		.fieldset
			label  * Sexo
			.forTwo.w75.genereType
				+radioButton('Femenino', 'genderReg', 'f', 'f')
				+radioButton('Masculino', 'genderReg', 'm', 'm')
			.errorMessage
		//- .fieldset
			label  *¿Tienes alguna de estas enfermedades?
			.forTwo.arrayDiseases
				+checkbox('Diabetes', 'diabetes', '1')
				+checkbox('Hipertensión', 'hipertension', '2')
				+checkbox('Enfermedad del corazón', 'enfermedadDelCorazon', '3')
				+checkbox('Enfermedad pulmonar', 'enfermedadPulmonar', '4')
				+checkbox('Enfermedad renal', 'enfermedadRenal', '5')
				+checkbox('Ninguna', 'ninguna', '6')
			.errorMessage
		
	p.smallText *Campos obligatorios

	.fieldset.fieldDouble
		+checkbox('', 'aviso-privacidad', 'aviso')
		p * He leído y acepto el #[a(href="privacyPolicies.html").privacity Aviso de Privacidad ] para el uso de Monitor

	.fieldset
		button(type="button").btn.primario.firstForm Continuar



.form.FormMiddle.hidden
	.headCard
		.titleStep Antecedentes de salud
	.card.monitoring
		.fieldset.pregnantHide.hidden
			label  *¿Estás embarazada?
			.forTwo.w75.pregnantType
				+radioButton('Sí', 'pregnantReg', 'si', '10')
				+radioButton('No', 'pregnantReg', 'no', 'no')
			.errorMessage

		.fieldset
			label  *¿Tienes alguna de estas enfermedades?
			.forTwo.arrayDiseases
			.errorMessage

	p.smallText *Campos obligatorios

	.fieldset
		button(type="button").btn.primario.middleForm Continuar

.form.FormMiddleIMC.hidden
	.headCard
		.titleStep Información general
	.card.monitoring
		label  Índice de Masa Corporal
		.fieldset
			+inputField('*Peso (kg)' ,'text', 'Obligatorio', 'imcPesoReg')
		.fieldset
			+inputField('*Estatura (cm)' ,'text', 'Obligatorio', 'imcAlturaReg')

	p.smallText *Campos obligatorios

	.fieldset
		button(type="button").btn.primario.middleIMCForm Continuar


.form.FormLast.hidden
	.headCard
		.step 2
		.titleStep Datos de la empresa
	.card.monitoring
		//- .fieldset
		//- 	label  *División
		//- 	+select('selecDivicion', 'Selecciona una opción' , arrayTemp)

		.fieldset.hidden
			label  *Grupo en el que laboras:
			+select('selecGrupoReg', 'Selecciona una opción' , arrayGroupJob)
		.fieldset
			label  *Empresa en la que laboras:
			+select('selecEmpresaReg', 'Selecciona una opción' , arrayBusiness)

		.fieldset
			label  *Área en la que laboras:
			+select('selecAreaReg', 'Selecciona una opción' , arrayArea)
		
		.fieldset
			+inputField('*Teléfono Celular:' ,'text', 'Obligatorio a 10 dígitos', 'telefonoCeluilarReg')
		.fieldset
			+inputField('*¿A quien llamar en caso de emergencia? (Familiar o cónyuge)' ,'text', 'Nombre completo de familiar o cónyuge', 'nombreFamiliarReg')
		.fieldset
			+inputField('*Teléfono de Emergencia' ,'text', 'Obligatorio a 10 dígitos', 'telefonoEmergenciaReg')
		//- .fieldset
		//- 	+inputField('*Teléfono del trabajo:' ,'text', 'Opcional a 10 dígitos', 'telefonoTrabajoReg')
		

	p.smallText *Campos obligatorios

	.fieldset
		button(type="button").btn.primario.lastForm Continuar
