.card.passwordRecovery

	.fieldset
		+inputField('*Correo electrónico con el que te registraste' ,'email', 'Obligatorio (Corporativo)', 'recoveryPassword')
	
	.fieldset
		.btn.primario Enviar

	.fieldset
		p También puedes solicitar tu contraseña al correo: #[a(href="mailto:contacto@desarrollofcs.mx" target="_blank") contacto@desarrollofcs.mx]


.card.thanksRecoveryPass.hidden

	.fieldset
		p Hemos enviado a tu correo un acceso para recuperar tu contraseña
	
	.fieldset
		.btn.primario Regresar al inicio