.card.passwordUpdate
	.fieldset
		+inputField('*Contraseña anterior' ,'password', 'Minimo 6 caracteres', 'antPassword')

	.fieldset
		+inputField('*Nueva contraseña' ,'password', 'Mínimo 6 caracteres', 'updatePassword')
	
	.fieldset
		+inputField('*Confirmar contraseña' ,'password', 'Misma contraseña que el campo anterior', 'confirmUpPass')
	
	.fieldset
		.btn.primario Enviar



.card.thanksUpdatePass.hidden

	.fieldset
		p Hemos actualizado tu contraseña de manera exitosa.
	
	//- .fieldset
		//- .btn.primario Regresar al inicio