section.downloadAPP
	.container
		.btt.downloadA Regístrate aquí y monitorea tu estado de salud
		p.webS o descarga el app
		p.appS Descarga el app
		.contbtnApp
			a(href="#{downAndroid}", target="_blank").downloadAndroid
			a(href="#{downIos}").downloadIos
		.cerrarBtn

