section.cintilloUpdate
	.container
		div.icoUpdate
		div.cintilloInfo
			p ¡Nueva versión disponible!
			//- p Nueva versión disponible v#[span.currentCintilloVersion]
			.contbtnApp
				a(href="#{downAndroid}", target="_blank").updateDownload Descargar
		.cerrarBtnLine

