div.modalHeader.text-center.mb-20
	.ico.icoComplete.mb-10
	p.h4#agradecimiento Gracias por tu tiempo
div.modalBody.text-center.p-20
	p Recuerda que es importante reportar tus síntomas constantemente
div.modalFooter
	button.btn.primario.nextEnd Aceptar