section.homePreventionSection.backgroundDark
	.washHandsContent
		.container
			h3.h3.colorDarkBlue Medidas generales de prevención
			.icoWashHands

	.container
		ul
			li Lavarse las manos con agua y jabón a conciencia y de manera frecuente (las palmas, entre los dedos, y el dorso) al menos por 20 segundos. En caso de no poder hacerlo, utilizar alcohol gel (Asegurar que el contenido de alcohol sea del 70%) para desinfectar las manos.
			li Cubrirse con la parte interna del brazo al toser o estornudar
			
			li Evitar tocarse la cara.

			li No saludar de mano y beso a otras personas.

			li En lo posible mantener una distancia de 1 metro con respecto a otras personas en los sitios de trabajo y áreas comunes.

			li El personal que se desplace al trabajo en transporte público debe tener aun mayor precaución aplicando todas las medidas aquí señaladas.
			li El tabaquismo es un factor de riesgo para enfermedad pulmonar por lo que se recomienda suspender el hábito.
			li Es importante indicar al personal que comparta estas medidas de prevención con familiares y personas con las que conviva de manera cotidiana en casa, en escuelas, en el traslado al trabajo, etc.