section.principalSection
	.container
		.logoCarso
		.centralContent
			.col
				.text
					h1.h1 COVID-19
					p.h2 Es un virus el cual causa una enfermedad respiratoria como la gripe, con diversos síntomas (tos, fiebre, etc...). En casos graves puede producir neumonía.
			.col
				.formQuestion
					include cardQuestion
				.formLogin.hidden
					include cardLogin
				.formRecord.hidden
					include cardRecord
