section.principalSection
	.container
		.logoMonitorWhite
		.centralContent
			.col
				.text
					h1.h1 MONITOR FCS
					p.h2 Con la finalidad de proteger la salud de todos los trabajadores y sus familiares, la FCS pone a disposición esta aplicación, donde será posible recibir recomendaciones para evitar los riesgos a los que se exponen actualmente, así como monitorizar sus síntomas diarios para identificar el momento oportuno de recibir atención médica y evitar complicaciones.
			.col
				.formQuestion
					include cardQuestion
				.formLogin.hidden
					include cardLogin
				.formRecord.hidden
					include cardRecord
