section.homeSymptomSection
	.container
		h3.h3.colorDarkBlue SEGUIMIENTO DE SÍNTOMAS PRESENTES AL MOMENTO DE REGISTRO
		ul
			li Fiebre
			li Dolor de garganta
			li Tos seca
			li Dolor de cabeza
			li Fatiga
			li Escalofríos
			li Producción de esputo
			li Náusea / Vómito
			li Dificultad para respirar
			li Congestión nasal
			li Dolor muscular
			li Diarrea
			li Pérdida del sentido del gusto y/o el olfato