section.homePreventionSection.backgroundDark
	.washHandsContent
		.container
			h3.h3.colorDarkBlue Medidas generales de prevención
			.icoWashHands

	.container
		ul
			li Higiene de manos, equipos y superficies.

			li Uso de cubrebocas en todo momento en áreas comunes.
			
			li Etiqueta de tos y estornudo.

			li Distanciamiento físico.
section.homePreventionSection.backgroundDarkLight.homeGeneral
	.washHandsContent
		.container
			h3.h3.colorDarkBlue Recomendaciones generales
			.icoPersonas

	.container
		ul
			li Mantén una distancia mínima de 2 metros entre personas y no saludes de mano, beso o abrazo. 

			li Utiliza correctamente un cubrebocas siempre que estés en sitios públicos incluyendo en el transporte público  y  otros lugares con aglomeración de personas.
			
			li Evitar a toda costa tocarte la cara con las manos.

			li Después de manipular objetos, mercancía, dinero, o cualquier objeto debes lavarte correctamente las manos con agua y jabón, o con alcohol gel al 70%. El lavado debe durar 20 segundos.

			li Si presento síntomas de infección respiratoria aguda: tos, dolor de cabeza, malestar general, fiebre, dolor de huesos o articulaciones, secreción nasal:

				ol 
					li Debo permanecer en casa:
					
						ul
							li Notificar a mi supervisor

							li Mantener las medidas generales de higiene y seguridad

			li Las medidas de distancia e higiene no aplican únicamente en el trabajo. Las debo mantener en casa, en cualquier sitio público y en los medios de transporte.
