section.homeMessageAdvice
	.container
		p.h1 La mejor forma de prevenir la enfermedad es evitar la exposición a este virus.
		.urlLinks
			a(href="privacyPolicies.html").privacity Políticas de privacidad
			a(href="InformationSources.html").privacity Fuentes de información