section.homeSymptomSection
	.container
		h3.h3.colorDarkBlue SÍNTOMAS PRESENTES AL MOMENTO DEL DIAGNÓSTICO DE COVID-19
		ul
			li Fiebre
			li Dolor de garganta
			li Tos seca
			li Dolor de cabeza
			li Fatiga
			li Escalofríos
			li Producción de esputo
			li Náusea / Vómito
			li Dificultad para respirar
			li Congestión nasal
			li Dolor muscular
			li Diarrea