section.privacyPolicies
	.container
		h1.h1.colorDarkBlue Fuentes de información
		
		table.tableInformation
			thead
				th Guías-protocolos
				th Páginas
			tbody
				tr
					td Interim Guidance for Public Health Personnel Evaluating Persons Under Investigation (PUIs) and Asymptomatic Close Contacts of Confirmed Cases at Their Home or Non-Home Residential Settings
					td: a(href="https://www.cdc.gov/coronavirus/2019-ncov/php/guidance-evaluating-pui.html" target="_blank") https://www.cdc.gov/coronavirus/2019-ncov/php/guidance-evaluating-pui.html

				tr
					td Interim Guidance for Implementing Home Care of People Not Requiring Hospitalization for Coronavirus Disease 2019 (COVID-19)
					td: a(href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/guidance-home-care.html" target="_blank") https://www.cdc.gov/coronavirus/2019-ncov/hcp/guidance-home-care.html
				tr
					td Getting your workplace ready for COVID-19
					td: a(href="https://www.who.int/docs/default-source/coronaviruse/getting-workplace-ready-for-covid-19.pdf" target="_blank") https://www.who.int/docs/default-source/coronaviruse/getting-workplace-ready-for-covid-19.pdf

				tr
					td Global surveillance for COVID-19 caused by human infection with COVID-19 virus
					td: a(href="https://apps.who.int/iris/bitstream/handle/10665/331506/WHO-2019-nCoV-SurveillanceGuidance-2020.6-eng.pdf" target="_blank") https://apps.who.int/iris/bitstream/handle/10665/331506/WHO-2019-nCoV-SurveillanceGuidance-2020.6-eng.pdf

				tr
					td Considerations in the investigation of cases and clusters of COVID-19
					td: a(href="https://www.who.int/internal-publications-detail/considerations-in-the-investigation-of-cases-and-clusters-of-covid-19" target="_blank") https://www.who.int/internal-publications-detail/considerations-in-the-investigation-of-cases-and-clusters-of-covid-19

				tr
					td Considerations for quarantine of individuals in the context of containment for coronavirus disease (COVID-19)
					td: a(href="https://www.who.int/publications-detail/considerations-for-quarantine-of-individuals-in-the-context-of-containment-for-coronavirus-disease-(covid-19)" target="_blank") https://www.who.int/publications-detail/considerations-for-quarantine-of-individuals-in-the-context-of-containment-for-coronavirus-disease-(covid-19)

				tr
					td Rational use of personal protective equipment (PPE) for coronavirus disease (COVID-19)
					td: a(href="	" target="_blank") https://apps.who.int/iris/bitstream/handle/10665/331498/WHO-2019-nCoV-IPCPPE_use-2020.2-eng.pdf

				tr
					td Home care for patients with COVID-19 presenting with mild symptoms and management of their contacts
					td: a(href="https://www.who.int/publications-detail/home-care-for-patients-with-suspected-novel-coronavirus-(ncov)-infection-presenting-with-mild-symptoms-and-management-of-contacts" target="_blank") https://www.who.int/publications-detail/home-care-for-patients-with-suspected-novel-coronavirus-(ncov)-infection-presenting-with-mild-symptoms-and-management-of-contacts

				tr
					td Operational considerations for case management of COVID-19 in health facility and community
					td: a(href="https://apps.who.int/iris/bitstream/handle/10665/331492/WHO-2019-nCoV-HCF_operations-2020.1-eng.pdf" target="_blank") https://apps.who.int/iris/bitstream/handle/10665/331492/WHO-2019-nCoV-HCF_operations-2020.1-eng.pdf

				tr
					td  Enfermedad COVID-19 por SARS-CoV-2
					td: a(href="https://www.gob.mx/cms/uploads/attachment/file/541794/AE_Enfermedad_COVID-19_SARS-CoV-2_2020.03.17.pdf" target="_blank") https://www.gob.mx/cms/uploads/attachment/file/541794/AE_Enfermedad_COVID-19_SARS-CoV-2_2020.03.17.pdf

				tr
					td  ¿QUÉ SON LOS CORONAVIRUS?
					td: a(href="https://coronavirus.gob.mx/personal-de-salud/" target="_blank") https://coronavirus.gob.mx/personal-de-salud/

				tr
					td  ACUERDO por el que se establecen las medidas preventivas que se deberán implementar para la mitigación y control de los riesgos para la salud que implica la enfermedad por el virus SARS-CoV2 (COVID-19).
					td: a(href="https://www.dof.gob.mx/nota_detalle.php?codigo=5590339&fecha=24/03/2020" target="_blank") https://www.dof.gob.mx/nota_detalle.php?codigo=5590339&fecha=24/03/2020
