section.loaderResult
    .loaderBody
        .sk-chase 
            .sk-chase-dot
            .sk-chase-dot
            .sk-chase-dot
            .sk-chase-dot
            .sk-chase-dot
            .sk-chase-dot