section.myAccountCards
	.container
		.countDataUser
			p.userName
			p.userID

		.countCardsSections
			
			.card.activitiesRegitrer
				.ico.icoRegisterActivities
				p Registro diario de síntomas
				.icoNext

			.card.clinicalProfile
				.ico.icoClinicalProfile
				p Mi perfil clínico
				.icoNext
