section.privacyPolicies
	.container
		h1.h1.colorDarkBlue Aviso de Privacidad Monitoreo FCS
		
		p El presente Aviso de Privacidad está dirigido a los Titulares de datos personales que obran en posesión de la Fundación Carlos Slim, A.C. (en lo sucesivo la #[span.textUnderline "Fundación"]), con relación al proyecto “Monitoreo - FCS”, así como su página web y aplicación (en lo sucesivo el “Proyecto”) que se desarrolla por dicha Fundación.


		h2.h2.colorDarkBlue RESPONSABLE
		p La Fundación Carlos Slim, A.C., con domicilio en Paseo de las Palmas número setecientos ochenta y uno, piso tres, Colonia Lomas de Chapultepec Tercera Sección, Demarcación Territorial Miguel Hidalgo, Código Postal once mil, en la Ciudad de México, es la responsable del tratamiento de sus datos personales.


		h2.h2.colorDarkBlue DATOS PERSONALES SUJETOS A TRATAMIENTO
		p La Fundación hace de su conocimiento que puede llegar a recabar de usted los siguientes datos personales que se enlistan por categorías:

		ul
			li Identificación.
			li Contacto.
			li Laborales.

		p Además de los datos personales mencionados anteriormente, la Fundación hace de su conocimiento que puede llegar a recabar de usted los datos personales sensibles, que requieren de especial protección y que a continuación se enlistan en la categoría correspondiente:


		ul
			li Datos e información relativa a su estado de salud presente y futuro.

		p Asimismo, le informamos que (i) para dar cumplimiento a las finalidades informadas en este Aviso de Privacidad, la Fundación podrá dar tratamiento a los datos personales de terceros en su calidad de familiares y/o personas vinculadas con usted (las “Personas Vinculadas”), que se registren en el Proyecto; y (ii) la Fundación realizará el tratamiento de sus datos personales sensibles y los datos personales sensibles de las Personas Vinculadas con base en el cumplimiento de obligaciones legales derivado de leyes que para la Fundación resultan de carácter obligatorio, razones de salud y seguridad públicas así como para atender una situación de emergencia que pudiere potencialmente dañar a individuos, incluyéndole, por lo que su consentimiento no es requerido.


		p Los datos personales y los datos personales sensibles (en lo sucesivo se identificarán más adelante como los “#[span.textUnderline Datos Personales]”), que recabamos de usted y de las Personas Vinculadas que serán tratados por la Fundación, los utilizaremos para las siguientes finalidades que son necesarias para el desarrollo del Proyecto:


		p Finalidades Primarias o Necesarias.

		ul.listIconCheck
			li Para llevar a cabo las acciones de monitoreo preventivo y correctivo, que resulten necesarias para la prevención, atención y mitigación de la pandemia ocasionada por el virus SARS-CoV-2 (COVID-19) (en lo sucesivo el “Virus”).

			li Dar cumplimiento a las obligaciones previstas en la normatividad aplicable en materia de salud.


			li Para garantizar la seguridad de las personas que se encuentran laborando en las instalaciones de las empresas, así como de sus familiares, de acuerdo con las recomendaciones de las autoridades sanitarias y mejores prácticas en la materia.

			li Para realizar un estudio epidemiológico y evitar la propagación del Virus.

			li Para la aplicación de las pruebas para la detección del nuevo coronavirus 2019 y panel de influenza (en lo sucesivo se denominarán más adelante como las “Pruebas”).

			li Para identificar claramente los resultados derivados de la aplicación de las Pruebas y hacerle entrega de ellos.
			li Para generar una base de datos que facilite la localización de los resultados de las Pruebas.
			li Para la canalización a una atención médica ambulatoria.
			li Para la presentación de los reportes a las autoridades competentes en materia de salud.
			li Atención a servicios administrativos.
			li Atención a servicios operativos.
			li Atender requerimientos de autoridades competentes en términos de la normatividad aplicable.
			li Dar atención sus dudas, consultas o solicitudes de información.

		p De manera adicional, la Fundación utilizará sus Datos Personales y los Datos Personales de las Personas Vinculadas para las siguientes finalidades que no son necesarias para el desarrollo del Proyecto, pero que nos permiten dar a conocer el impacto del mismo y nos facilitan brindarle una mejor atención:


		p Finalidades Secundarias o No Necesarias.
		ul.listIconCheck
			li Para medir el impacto del Proyecto.
			li Con fines estadísticos.
			li Difundirle información relacionada con el Proyecto.
			li Para evaluar la calidad del servicio ofrecido a través del Proyecto.

		p En caso de que no desee que sus Datos Personales sean tratados por la Fundación para la Finalidades Secundarias, la Fundación le pide que manifieste su negativa para el tratamiento de los Datos Personales para las Finalidades Secundarias en un plazo de 5 (cinco) días hábiles contados a partir del día siguiente a que recibió el Aviso de Privacidad, a través de un escrito que deberá enviar firmado por usted, con la siguiente información: (i) nombre completo del Titular; (ii) el domicilio u otro medio para comunicar la respuesta a su solicitud; y (iii) una redacción breve respecto de cuál o cuáles Finalidad(es) Secundaria(s) no autoriza el tratamiento de sus Datos Personales (la “Solicitud de Finalidades Secundarias”), a la siguiente dirección de correo electrónico contacto. #[a(href="mailto:contacto.fcs@fundacioncarlosslim.org" target="_blank") contacto.fcs@fundacioncarlosslim.org] donde se le atenderá en tiempo y forma de acuerdo al procedimiento descrito en la sección Derechos ARCO.

		p La negativa para el uso de sus datos personales para estas Finalidades Secundarias no podrá ser un motivo para que le neguemos su participación en el Proyecto ni los servicios que se brindan a través del mismo.


		h2.h2.colorDarkBlue TRANSFERENCIAS

		p La Fundación podrá realizar sin su consentimiento transferencia de sus datos personales de Identificación, Contacto, y de Salud cuando se dé alguno de los supuestos previstos en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en lo sucesivo la “Ley”). En particular, la Fundación podrá transferir, sin requerir de su consentimiento, los datos personales necesarios a:


		ul
			li Autoridades sanitarias competentes, incluyendo autoridades Municipales, Estatales y Federales para los fines previstos en el presente Aviso de Privacidad;
			li Hospitales Públicos o Privados, clínicas de salud, consultorios de salud y/o laboratorios de análisis clínicos para los fines previstos en el presente Aviso de Privacidad;
			li Organismos e Instituciones Públicas o Privadas relacionadas con el cuidado y protección de la salud, la investigación médica y científica;
			li A las Empresas a las que ha puesto a su disposición el programa de Monitoreo – FCS, con fines de prevención, atención y mitigación de la propagación del virus COVID19 entre los empleados; y
			li Empresas subsidiarias, afiliadas, asociadas y demás empresas vinculadas a la Fundación, las cuales operan bajo los mismos procesos y políticas internas de respeto a la privacidad, por el uso del programa de Monitoreo – FCS y para los fines previstos en el presente Aviso de Privacidad.



		p En caso de que no sean aplicables los supuestos del artículo 37 de la Ley, la Fundación podrá transferir sus datos personales de Identificación, Contacto, y de Salud siempre y cuando previamente obtenga de usted su consentimiento. Dicha transferencia se podrá realizar a: (i) Instituciones de Asistencia Privada; (ii) Asociaciones Civiles nacionales o extranjeras; (iii) Sociedades Civiles nacionales o extranjeras; (iv) Secretarías de Estado a nivel Federal o Local; (v) Organismos Públicos Descentralizados y/o Desconcentrados a nivel Federal o Local; (vi) Hospitales Públicos y/o Privados, así como Clínicas y/o Consultorios de Salud; (vii) Médicos; (viii) Sociedades Mercantiles nacionales o extranjeras; (ix) Organismos e Instituciones Públicas o Privadas relacionadas con el cuidado y protección de la salud, la investigación médica y científica y/o académicas, indistintamente a nacionales o extranjeras, para las siguientes finalidades:



		ul 
			li Con fines estadísticos.
			li Para dar cumplimiento a las obligaciones previstas en la normatividad aplicable en materia de salud.
			li Para garantizar la seguridad de las personas que se encuentran laborando en las instalaciones de las empresas que participen en el Proyecto.
			li Para realizar un estudio epidemiológico y evitar la propagación del Virus.

		p En caso de que usted quiera manifestar su negativa a cualquiera de las finalidades anteriormente descritas para la transferencia de sus datos personales, deberá presentar un escrito firmado por usted, con la siguiente información: (i) nombre completo del Titular; (ii) el domicilio u otro medio para comunicar la respuesta a su solicitud; y (iii) una redacción breve respecto de para cuál o cuáles finalidad(es) no autoriza la transferencia de sus Datos Personales (la “Solicitud de Transferencia”), a la siguiente dirección de correo electrónico #[a(href="mailto:contacto.fcs@fundacioncarlosslim.org" target="_blank") contacto.fcs@fundacioncarlosslim.org], donde se le atenderá en tiempo y forma de acuerdo al procedimiento descrito en la sección Derechos ARCO.


		h2.h2.colorDarkBlue DERECHOS ARCO

		p Usted tiene derecho a (i) conocer qué datos personales tiene la Fundación de usted, para qué los utiliza y las condiciones del uso que les da (Acceso); (ii) solicitar a la Fundación la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); (iii) que la Fundación la elimine de sus registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa (Cancelación); y (iv) a oponerse al uso de sus Datos Personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.


		p Los Titulares de los datos personales o en su caso sus representantes legales podrán ejercer los derechos ARCO, enviando un escrito firmado por el Titular (en lo sucesivo la “Solicitud ARCO”), a la siguiente dirección de correo electrónico #[a(href="mailto:contacto.fcs@fundacioncarlosslim.org" target="_blank") contacto.fcs@fundacioncarlosslim.org]

		p #[span.textUnderline En la Solicitud ARCO se deberá incluir la siguiente información:]

		p (i) El nombre completo del Titular; (ii) una descripción clara y precisa de los Datos Personales respecto de los cuales ejercitará los derechos ARCO; (iii) así como identificar y/o especificar qué derecho(s) ARCO quiere ejercer; y (iv) el domicilio u otro medio para comunicar la respuesta a su solicitud.

		p Con el fin de que la Fundación pueda verificar su identidad, usted deberá acompañar a la Solicitud ARCO, una copia de su Identificación Oficial vigente y en caso que sea presentada mediante representante legal, se deberá de acreditar la identidad y personalidad de éste último.


		p La Fundación hace de su conocimiento que el Área encargada de procesar su Solicitud de Finalidades Secundarias, su Solicitud ARCO y/o su Solicitud de Revocación (término que se define más adelante), es el Área Jurídica de la Fundación, quien está designada como Área de Datos Personales, la cual tendrá un plazo para comunicar la respuesta a su(s) solicitud(es) que no excederá de 20 (veinte) días hábiles, contados a partir de la fecha de su presentación. Asimismo la Fundación pone a su disposición el siguiente correo electrónico #[a(href="mailto:contacto.fcs@fundacioncarlosslim.org" target="_blank") contacto.fcs@fundacioncarlosslim.org] para cualquier consulta relacionada con los procesos anteriormente descritos.


		h2.h2.colorDarkBlue REVOCACIÓN DEL CONSENTIMIENTO

		p Los Titulares de Datos Personales podrán en todo momento solicitar a la Fundación la revocación del consentimiento al tratamiento (obtención, uso, divulgación o almacenamiento) de sus Datos Personales.

		p A efecto de revocar dicho consentimiento, el Titular deberá enviar una solicitud firmada por él/ella, con la siguiente información: (i) nombre completo del Titular; (ii) el domicilio u otro medio para comunicar la respuesta a su solicitud; y (iii) una redacción breve expresando los motivos por los cuales revoca su consentimiento al tratamiento de sus Datos Personales (la “Solicitud de Revocación”), a la siguiente dirección de correo electrónico #[a(href="mailto:contacto.fcs@fundacioncarlosslim.org" target="_blank") contacto.fcs@fundacioncarlosslim.org] y con el fin de verificar su identidad, usted deberá acompañar a la Solicitud de Revocación una copia de su Identificación Oficial vigente y en caso que sea presentada mediante representante legal, se deberá de acreditar la identidad y personalidad de éste último.


		p Es importante que usted tome en cuenta que no en todos los casos la Fundación podrá atender su solicitud y concluir con el uso de forma inmediata, ya que es posible que por alguna obligación legal necesite seguir tratando sus Datos Personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que la Fundación no pueda continuar la relación jurídica que exista con usted.


		h4.h4.colorDarkBlue ¿Cómo puede limitar el uso o divulgación de su información personal?

		p Mediante su registro en el listado de “Exclusión” de la Fundación, a fin de que sus Datos Personales no sean tratados con fines estadísticos. Para mayor información deberá enviar un correo electrónico a la siguiente dirección #[a(href="mailto:contacto.fcs@fundacioncarlosslim.org" target="_blank") contacto.fcs@fundacioncarlosslim.org] para poder contestar sus dudas y hacerle llegar el formato correspondiente.



		h4.h4.colorDarkBlue ¿Cómo le notificaremos de los cambios que efectuemos al presente Aviso de Privacidad?


		p La Fundación se reserva el derecho de actualizar y/o modificar en cualquier momento este Aviso de Privacidad, en cuyo caso se hará de su conocimiento mediante su publicación en la siguiente página web: #[a(href="https://www.fundacioncarlosslim.org" target="_blank") www.fundacioncarlosslim.org]


		h4.h4.colorDarkBlue ¿Cómo puede hacernos llegar sus dudas?

		p La Fundación queda a sus órdenes para proporcionarle cualquier información adicional que requiera o, en su caso, para resolver cualquier duda que pudiera surgirle en materia de privacidad y protección de datos personales, para lo que podrá contactarnos a través del correo electrónico #[a(href="mailto:contacto.fcs@fundacioncarlosslim.org" target="_blank") contacto.fcs@fundacioncarlosslim.org]


		h4.h4.colorDarkBlue Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI)

		p En caso de considerarlo necesario, le informamos que tiene el derecho de acudir ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI) para hacer efectivos sus derechos.

		p
			small Última Actualización: Junio 2020.

		.fieldset.fieldsetChecked
			+checkbox('* He leído y acepto el Aviso de Privacidad para el uso de Monitor', 'aviso-privacidad', 'aviso')
