section.privacyPolicies
	.container
		h1.h1.colorDarkBlue AVISO DE PRIVACIDAD
		
		p Aviso de Privacidad dirigido a los Titulares de datos personales que obran en posesión de Fundación Carlos Slim, A. C., con relación a los proyectos, programas, páginas web y/o plataformas que se describen a continuación:
		ul
			li Página web Institucional
			li Aprende
			li Capacítate para el Empleo

		
		h2.h2.colorDarkBlue RESPONSABLE
		p Fundación Carlos Slim, A. C. (en lo sucesivo la “Fundación”), con domicilio ubicado en Avenida Paseo de las Palmas No. 781, Piso 03, Colonia Lomas de Chapultepec III Sección, C.P. 11000, Delegación Miguel Hidalgo, en la Ciudad de México.
		
		
		h2.h2.colorDarkBlue DATOS PERSONALES
		p La Fundación hace de su conocimiento que derivado de sus diversos proyectos, programas, páginas web y/o plataformas puede llegar a recabar de usted los datos personales que a continuación se enlistan por categorías:
		ul
			li Identificación.
			li Contacto.
			li Financieros.
			li Patrimoniales.
			li Académicos.
			li Laborales.
		

		h2.h2.colorDarkBlue DATOS PERSONALES SENSIBLES
		p La Fundación hace de su conocimiento que derivado de sus diversos proyectos, programas y/o plataformas puede llegar a recabar de usted los datos personales sensibles que a continuación se enlistan en la categoría correspondiente:
		ul
			li Salud.
		
		p Los datos personales y los datos personales sensibles (se identificarán más adelante como los “Datos Personales”) que en su caso se recaben, podrán ser tratados por la Fundación para las siguientes finalidades:
		
		
		h3.h3.colorDarkBlue Primarias
		ul
			li Por virtud de la relación jurídica que exista con usted.
			li Para fines Administrativos.
			li Con fines Operativos.
		
		
		h3.h3.colorDarkBlue Secundarias
		ul
			li Con fines Estadísticos y/o de Prospección.
		
		p En caso de querer manifestar su negativa para el tratamiento de los Datos Personales para las finalidades secundarias, deberá presentar un escrito firmado por usted, con:(i) nombre completo del Titular y (ii) el domicilio u otro medio para comunicar la respuesta a su solicitud, en la siguiente dirección: Avenida Paseo de las Palmas No. 781, Piso 03, Colonia Lomas de Chapultepec III Sección, C.P. 11000, Delegación Miguel Hidalgo, en la Ciudad de México, indicando brevemente en el escrito a qué se refiere su solicitud (la “Solicitud de Finalidades Secundarias”) y con el fin de verificar su identidad, usted deberá acompañar a la Solicitud de Finalidades Secundarias, una copia y el original para cotejo de su Identificación Oficial vigente y en caso que sea presentada mediante representante legal, se deberá de acreditar la identidad y personalidad de éste último.

		
		h2.h2.colorDarkBlue TRANSFERENCIAS
		p La Fundación podrá realizar sin su consentimiento transferencia de sus datos personales de Identificación, Contacto, Financieros, Patrimoniales, Académicos, de Salud y/o Laborales cuando se dé alguno de los supuestos previstos en el artículo 37 de la Ley Federal de Protección de Datos Personales en posesión de los Particulares (en lo sucesivo la “Ley”). A contrario sensu, si no son aplicables los supuestos del artículo 37 de la Ley, la Fundación podrá transferir sus datos personales de Identificación, Contacto, Financieros, Patrimoniales, Académicos, de Salud y/o Laborales siempre y cuando previamente obtenga de usted su consentimiento. Dicha transferencia se podrá realizar a: (i)Instituciones de Asistencia Privada, (ii)Asociaciones Civiles, (iii)Organismos Públicos Descentralizados y/o Desconcentrados, (iv)Hospitales Públicos y/o Privados, (v)la bolsa de trabajo de las Entidades asociadas a los proyectos, programas y/o plataformas que ofrece la Fundación, y (vi)Organismos e Instituciones públicas o privadas relacionadas con la formación profesional y/o la certificación, acreditación o validación de estudios, indistintamente a nacionales o extranjeras, para las siguientes finalidades:
		ul
			li Prospección.
			li Validación, acreditación y/o certificación de estudios.
			li Ofrecimiento de Servicios y/o Productos.
			li Con fines Estadísticos.
		
		p En caso de que usted quiera manifestar su negativa a cualquiera de las finalidades anteriormente descritas, deberá presentar un escrito firmado por usted, con: (i) nombre completo del Titular y (ii) el domicilio u otro medio para comunicar la respuesta a su solicitud, en la siguiente dirección: Avenida Paseo de las Palmas No. 781, Piso 03, Colonia Lomas de Chapultepec III Sección, C.P. 11000, Delegación Miguel Hidalgo, en la Ciudad de México, indicando brevemente en el escrito a qué se refiere su solicitud (la “Solicitud de Transferencia”) y con el fin de verificar su identidad, usted deberá acompañar a la Solicitud de Transferencia, una copia y el original para cotejo de su Identificación Oficial vigente y en caso que sea presentada mediante representante legal, se deberá de acreditar la identidad y personalidad de éste último.
		
		
		h2.h2.colorDarkBlue DERECHOS ARCO
		p Los Titulares de los Datos Personales o en su caso sus representantes legales podrán ejercer los derechos ARCO (acceso, rectificación, cancelación u oposición), presentando un escrito firmado por el Titular (en lo sucesivo la “Solicitud ARCO”), en la siguiente dirección: Avenida Paseo de las Palmas No. 781, Piso 03, Colonia Lomas de Chapultepec III Sección, C.P. 11000, Delegación Miguel Hidalgo, en la Ciudad de México.
		p En la Solicitud ARCO se deberá Incluir:
		p (i) El nombre completo del Titular, (ii)una descripción clara y precisa de los Datos Personales respecto de los cuales ejercitará los derechos ARCO, (iii)así como identificar y/o especificar qué derecho(s) ARCO quiere ejercer y (iv) el domicilio u otro medio para comunicar la respuesta a su solicitud.
		p Con el fin de que la Fundación pueda verificar su identidad, usted deberá acompañar a la Solicitud ARCO, una copia y el original de su Identificación Oficial vigente para cotejo y en caso que sea presentada mediante representante legal, se deberá de acreditar la identidad y personalidad de éste último.
		p La Fundación hace de su conocimiento que el Área encargada de procesar su Solicitud de Finalidades Secundarias, Solicitud de Transferencia, Solicitud ARCO y la Solicitud de Revocación (término que se define más adelante), es el Área Jurídica de la Fundación, quien está designada como Área de Datos Personales, la cual tendrá un plazo para comunicar la respuesta a su(s) solicitud(es) que no excederá de 20 (veinte) días hábiles, contados a partir de la fecha de su presentación, asimismo pone a su disposición los siguientes correos electrónicos, para cualquier consulta relacionada con los procesos anteriormente descritos, según el/los proyecto(s), programa(s), página(s) web y/o plataforma(s) que corresponda(n):
		ul
			li Página web Institucional  
				a(href="aviso.privacidad@fundacioncarlosslim.org" target="_blank") aviso.privacidad@fundacioncarlosslim.org
			li Aprende  
				a(href="aprende.privacidad@fundacioncarlosslim.org"  target="_blank") aprende.privacidad@fundacioncarlosslim.org
			li Capacítate para el Empleo  
				a(href="maito:cpe.privacidad@fundacioncarlosslim.org"  target="_blank") cpe.privacidad@fundacioncarlosslim.org
			li www.fcs-monitoreo.com  
				a(href="https://www.fcs-monitoreo.com/") www.fcs-monitoreo.com
		

		h2.h2.colorDarkBlue REVOCACIÓN DEL CONSENTIMIENTO
		p Los Titulares de Datos Personales podrán en todo momento solicitar la revocación del consentimiento al tratamiento (obtención, uso, divulgación o almacenamiento) de sus Datos Personales, a efecto de revocar dicho consentimiento, deberá presentar un escrito firmado por el Titular, con: (i) nombre completo del Titular y (ii) el domicilio u otro medio para comunicar la respuesta a su solicitud (la “Solicitud de Revocación”), en la siguiente dirección: Avenida Paseo de las Palmas No. 781, Piso 03, Colonia Lomas de Chapultepec III Sección, C.P. 11000, Delegación Miguel Hidalgo, en la Ciudad de México, indicando brevemente en el escrito a qué se refiere su Solicitud de Revocación y con el fin de verificar su identidad, usted deberá acompañar a la Solicitud de Revocación, una copia y el original de su Identificación Oficial vigente para cotejo y en caso que sea presentada mediante representante legal, se deberá de acreditar la identidad y personalidad de éste último.
		
		p Es importante que usted tome en cuenta que no en todos los casos la Fundación podrá concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal necesite seguir tratando sus Datos Personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que la Fundación no pueda continuar la relación jurídica que exista con usted.
		
		
		h3.h3.colorDarkBlue  ¿Cómo puede limitar el uso o divulgación de su información personal?
		p Mediante su registro en el listado de “Exclusión” de la Fundación, a fin de que sus Datos Personales no sean tratados: (i) para enviarle nuestro boletín mensual, (ii) para enviarle invitaciones a eventos, (iii) para que su perfil laboral pueda ingresarse a la bolsa de trabajo de las empresas que están afiliadas y/o relacionadas a los proyectos, programas y/o plataformas de la Fundación y/o (iv)con fines estadísticos y/o de prospección. Para mayor información deberá enviar un correo electrónico a la siguiente dirección de correo electrónico según el/los proyecto(s), programa(s), página(s) web y/o plataforma(s) que corresponda(n), para poder contestar sus dudas y hacerle llegar el formato correspondiente:
		ul
			li: a(href="aviso.privacidad@fundacioncarlosslim.org" target="_blank") aviso.privacidad@fundacioncarlosslim.org
			li Aprende  
				a(href="aprende.privacidad@fundacioncarlosslim.org"  target="_blank") aprende.privacidad@fundacioncarlosslim.org
			li Capacítate para el Empleo 
				a(href="maito:cpe.privacidad@fundacioncarlosslim.org"  target="_blank") cpe.privacidad@fundacioncarlosslim.org
			li www.fcs-monitoreo.com  
				a(href="https://www.fcs-monitoreo.com/") www.fcs-monitoreo.com
		
		p La Fundación se reserva el derecho de actualizar y/o modificar en cualquier momento este Aviso de Privacidad, en cuyo caso se hará de su conocimiento mediante su publicación en la siguiente dirección electrónica:  
			a(href="http://fundacioncarlosslim.org/aviso-de-privacidad/" target="_blank") http://fundacioncarlosslim.org/aviso-de-privacidad/.
