include loader
section.resultCardOne.resultWrapp.hidden(data-bar="risk")
    section.resultCard
        include scoreModule
        article.resultTop
            p.h5 Tu condici&oacute;n de salud es:
            div
                span 
                    strong.label_basal  &nbsp;
                    .tooltipOpener
                        i.tooltipOpenerIcon ?
                        p No padeces ninguna enfermedad pero debes vigilar la aparición de síntomas de enfermedad altamente contagiosa diariamente.
        article.resultInfo
            p.h5 Acciones a realizar:
            ul.actions
    article.resultAdditionalInfo
        p.actionsPhone1 
        p.actionsPhone2
        p.numberPhone (55) 5201-7694
        

section.resultCardTwo.resultWrapp.hidden(data-bar="risk")
    section.resultCard
        include scoreModule
        article.resultTop
            p.h5 Tu condici&oacute;n de salud es:
            div
                span 
                    strong.label_basal  &nbsp;
                    .tooltipOpener
                        i.tooltipOpenerIcon ?
                        p Padeces alguna enfermedad conocida y debes ser cuidadoso de los síntomas de enfermedad altamente contagiosa.
        article.resultInfo
            p.h5 Acciones a realizar:
            ul.actions

    article.resultAdditionalInfo
        p.actionsPhone1 
        p.actionsPhone2
        p.numberPhone (55) 5201-7694
        

section.resultCardThree.resultWrapp.hidden(data-bar="risk")
    section.resultCard
        include scoreModule
        article.resultTop
            p.h5 Tu condici&oacute;n de salud es:
            div
                span 
                    strong.label_basal  &nbsp;
                    .tooltipOpener
                        i.tooltipOpenerIcon ?
                        p Padeces alguna enfermedad conocida y cualquiera de los síntomas de enfermedad altamente contagios puede afectarte de manera importante.
        article.resultInfo
            p.h5 Acciones a realizar:
            ul.actions

    article.resultAdditionalInfo
        p.actionsPhone1 
        p.actionsPhone2
        p.numberPhone (55) 5201-7694
        

section.resultCardFour.resultWrapp.hidden(data-bar="risk")
    section.resultCard
        include scoreModule
        article.resultTop
            p.h5 Tu condici&oacute;n de salud es:
            div
                span 
                    strong.label_basal  &nbsp;
                    .tooltipOpener
                        i.tooltipOpenerIcon ?
                        p Padeces alguna enfermedad conocida y tu salud se vería seriamente afectada si contraes enfermedad altamente contagiosa.
        article.resultInfo
            p.h5 Acciones a realizar:
            ul.actions
            
    article.resultAdditionalInfo
        p.actionsPhone1
        p.actionsPhone2
        p.numberPhone (55) 5201-7694

section.sectionFooter
        p.actionsEmail1
        p.actionsEmail2
        a(href="mailto:soporte@desarrollofcs.mx") soporte@desarrollofcs.mx
        button.btn.primario.goHome Regresar al inicio
section.sectionFooter2#policies
        a(href="privacyPolicies.html") Políticas de privacidad