include loader
section.resultCardOne.resultWrapp.hidden(data-bar="risk")
    section.resultCard
        include scoreModule
        article.resultTop
            p.h5 Tu condici&oacute;n de salud es:
            div
                span 
                    strong.label_basal  &nbsp;
                    .tooltipOpener
                        i.tooltipOpenerIcon ?
                        p No padeces ninguna enfermedad pero debes vigilar la aparición de síntomas de enfermedad altamente contagiosa diariamente.
        article.resultInfo
            p.h5 Acciones a realizar:
            p Registra tus síntomas de forma diaria.

section.resultCardTwo.resultWrapp.hidden(data-bar="risk")
    section.resultCard
        include scoreModule
        article.resultTop
            p.h5 Tu condici&oacute;n de salud es:
            div
                span 
                    strong.label_basal  &nbsp;
                    .tooltipOpener
                        i.tooltipOpenerIcon ?
                        p Padeces alguna enfermedad conocida y debes ser cuidadoso de los síntomas de enfermedad altamente contagiosa.
        article.resultInfo
            p.h5 Acciones a realizar:
            ul
                li Asegúrate de que tu riesgo no aumente: si tienes un cambio en síntomas repórtalo inmediatamente.
                li Registra tus síntomas de forma diaria.
    article.resultAdditionalInfo
        p.h5 ¡Te esperamos todos los días!
        p Si tienes alguna duda o requieres orientación comunícate a este número
        p.numberPhone (55) 5201-7694
        p.h5 Opera las 24 horas los siete días de la semana.

section.resultCardThree.resultWrapp.hidden(data-bar="risk")
    section.resultCard
        include scoreModule
        article.resultTop
            p.h5 Tu condici&oacute;n de salud es:
            div
                span 
                    strong.label_basal  &nbsp;
                    .tooltipOpener
                        i.tooltipOpenerIcon ?
                        p Padeces alguna enfermedad conocida y cualquiera de los síntomas de enfermedad altamente contagios puede afectarte de manera importante.
        article.resultInfo
            p.h5 Acciones a realizar:
            ul
                li Será importante que midas tu saturación de oxígeno de forma diaria y lo reportes.
                li Asegúrate de que tu riesgo no aumente: si tienes un cambio en síntomas repórtalo inmediatamente.
                li Registra tus síntomas de forma diaria.
    article.resultAdditionalInfo
        p Comunícate a este número para que te realicen una valoración médica
        p.numberPhone (55) 5201-7694
        p.h5 Opera las 24 horas los siete días de la semana.

section.resultCardFour.resultWrapp.hidden(data-bar="risk")
    section.resultCard
        include scoreModule
        article.resultTop
            p.h5 Tu condici&oacute;n de salud es:
            div
                span 
                    strong.label_basal  &nbsp;
                    .tooltipOpener
                        i.tooltipOpenerIcon ?
                        p Padeces alguna enfermedad conocida y tu salud se vería seriamente afectada si contraes enfermedad altamente contagiosa.
        article.resultInfo
            p.h5 Acciones a realizar:
            ul
                li Mide tu saturación de oxígeno: si la lectura del oxímetro es menor a 92% debes acudir DE INMEDIATO a los servicios de urgencia en el hospital de tu preferencia.
                li Asegúrate de que tu riesgo no aumente: si tienes un cambio en síntomas repórtalo inmediatamente.
                li Registra tus síntomas de forma diaria.
    article.resultAdditionalInfo
        p.text-underline Informa a tu supervisor de RH de tu estado de salud
        p Comunícate INMEDIATAMENTE a este número para que te realicen una valoración médica
        p.numberPhone (55) 5201-7694
        p.h5 Opera las 24 horas los siete días de la semana. 