.logoFundacion
	display: block
	background:
		image: url(../img/Logo_FCS_Blanco@2x.png)
		size: contain
		repeat: no-repeat

.logoCarso
	display: block
	background:
		image: url(../img/logo_monitor_white.svg)
		//image: url(../img/logo-carso.png)
		size: contain
		repeat: no-repeat

.logoCarsoN
	display: block
	background:
		image: url(../img/logo_monitor_color.svg)
		//image: url(../img/Logo_FCS_Negro@2x.png)
		//image: url(../img/logo_monitor_color.svg)
		size: contain
		repeat: no-repeat

.logoMonitorColor
	display: block
	background:
		image: url(../img/logo_monitor_color.svg)
		size: contain
		repeat: no-repeat
.logoMonitorWhite
	display: block
	background:
		image: url(../img/logo_monitor_white.svg)
		size: contain
		repeat: no-repeat
		position: center

.icoWashHands
	display: inline-block
	background:
		image: url(../img/ico-manitas.png)
		size: contain
		repeat: no-repeat
.icoPersonas
	display: inline-block
	background:
		image: url(../img/personas.svg)
		size: contain
		repeat: no-repeat
		position: center

.downloadAndroid
	display: inline-block
	background:
		image: url(../img/android.png)
		size: contain
		repeat: no-repeat

.downloadIos
	display: inline-block
	background:
		image: url(../img/apple.png)
		size: contain
		repeat: no-repeat

.cerrarBtn
	display: inline-block
	background:
		image: url(../img/cerrar.png)
		size: contain
		repeat: no-repeat
.cerrarBtnLine
	display: inline-block
	background:
		image: url(../img/close-line-white.svg)
		size: contain
		repeat: no-repeat

.loadImage
	display: inline-block
	background:
		image: url(../img/loading.gif)
		size: contain
		repeat: no-repeat

.icoWarning
	display: inline-block
	background:
		image: url(../img/alert.png)
		size: contain
		repeat: no-repeat

.icoRegisterActivities
	width: 70px
	height: 80px
	display: block
	background:
		image: url(../img/estetoscopia.svg)
		size: contain
		repeat: no-repeat

.icoClinicalProfile
	width: 70px
	height: 80px
	display: block
	background:
		image: url(../img/clinico.svg)
		size: contain
		repeat: no-repeat


.icoEmployee
	width: 70px
	height: 80px
	display: block
	background:
		image: url(../img/employee.svg)
		size: contain
		repeat: no-repeat
		position: center

.icoEmployeesFamily
	width: 70px
	height: 80px
	display: block
	background:
		image: url(../img/familyEmployee.svg)
		size: contain
		repeat: no-repeat
		position: center

.icoNext
	display: inline-block
	background:
		image: url(../img/next.svg)
		size: contain
		repeat: no-repeat
	&.green
		background:
			image: url(../img/next-green.svg)

.icoFamily
	width: 70px
	height: 80px
	display: block
	background:
		image: url(../img/family.svg)
		size: contain
		repeat: no-repeat
.icoComplete
	width: 70px
	height: 70px
	display: inline-block
	background:
		image: url(../img/complete.svg)
		size: contain
		repeat: no-repeat
.icoDanger
	width: 70px
	height: 70px
	display: inline-block
	background:
		image: url(../img/danger.svg)
		size: contain
		repeat: no-repeat

.icoNewNormal
	width: 70px
	height: 80px
	display: block
	background:
		image: url(../img/nueva-normalidad.svg)
		size: contain
		repeat: no-repeat
	+mediaMax640
		width: 50px
		height: 40px
.icoNewNormalLink
	width: 70px
	height: 80px
	display: block
	background:
		image: url(../img/document.svg)
		size: contain
		repeat: no-repeat
		position: center
	+mediaMax640
		width: 50px
		height: 40px
.icoExamenLink
	width: 70px
	height: 80px
	display: block
	background:
		image: url(../img/test-quiz.svg)
		size: contain
		repeat: no-repeat
		position: center
	+mediaMax640
		width: 50px
		height: 40px
.icoTrabajoLink
	width: 70px
	height: 80px
	display: block
	background:
		image: url(../img/coronavirus.svg)
		size: contain
		repeat: no-repeat
		position: center
	+mediaMax640
		width: 50px
		height: 40px
.icoUpdate
	width: 30px
	height: 30px
	display: block
	background:
		image: url(../img/download.svg)
		size: contain
		repeat: no-repeat
		position: center
