footer
	+bx
	+grad(90deg, $colorBlue, $colorLightBlue)
	padding: 30px
	height: 100%
	max-height: 160px
	display: block
	+mediaMax640
		max-height: 130px
	.container
		height: 100%
		+flex
		+flexDir(row)
		+alignItem(center)
		+justifyCont(center)

	.logoCarso,
	.logoMonitorWhite
		width: 240px
		height: 65px

.publicLayout
	footer
		+mediaMax640
			max-height: 60px 