-var location = "RecuperarContrase침a"
-var subLoc = ""
-var titulo = "Monitoreo Fundacion Carlos Slim / Recuperar Contrase침a"
-var descrip = ""
-var keyword = ""

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	include includes/tagGTM
	body
		include includes/modules/loaderPrincipal
		include includes/header

		main.backgroundDark
			section.passRecovery
				.container.medium
					
					h1.h1 Recuperar contrase침a
					
					p.textInfo Ingresa tu correo electr칩nico con el que te registraste

					include includes/modules/cardPasswordRecovery


		include includes/scriptsCss