-var location = "ActualizarPassword"
-var subLoc = ""
-var titulo = "Monitoreo Fundacion Carlos Slim / Actualizar Contraseña"
-var descrip = ""
-var keyword = ""

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	include includes/tagGTM
	body
		include includes/modules/loaderPrincipal
		include includes/header

		main.backgroundDark
			section.passUpdate
				.container.medium
					
					h1.h1 Actualiza tu contraseña

					include includes/modules/cardPasswordUpdate


		include includes/scriptsCss